@let isMobileFormat = isMobileFormat$ | async;

<header class="header">
  <div class="main-part">
    <app-menu class="menu"/>

    @if (!isMobileFormat) {
      <app-search/>

      <button>
        <app-icon name="add2"/>
      </button>
    } @else {
      <button>
        <app-icon name="add2"/>
      </button>

      <button>
        <app-icon name="history"/>
      </button>

      <app-search/>
    }

  </div>

  <div class="right-part">
    <button class="notifications-button">
      <app-icon name="notifications"/>

      <div class="counter">32</div>
    </button>
  </div>
</header>
