<div class="filters-container">
  <div class="input-container">
    <input
      type="text"
      placeholder="Имя или должность"
      [formControl]="form.controls.author"
    />
  </div>

  <div class="checkbox-list">
    <app-checkbox label="Я участник" [formControl]="form.controls.member"/>

    <app-checkbox label="Строгий поиск" [formControl]="form.controls.strictSearch"/>

    <app-checkbox label="В заголовках" [formControl]="form.controls.headers"/>
  </div>

  <div class="block-title">Только</div>

  <div class="checkbox-list">
    <app-checkbox label="Теги" [formControl]="form.controls.tags"/>

    <app-checkbox label="Просьбы" [formControl]="form.controls.questions"/>

    <app-checkbox label="Контакты" [formControl]="form.controls.contacts"/>
  </div>
</div>
